@import "customMixins";
@import "components/shared";
@import "components/offcanvas";
@import "components/lightbox";
@import "components/header";
@import "components/title";
@import "components/cathedral";
@import "components/footer";
@import "components/index";
@import "components/place";
@import "components/contacts";
@import "components/article-footer";


@font-face {
  font-family: 'Lava-Bold';
  src: url(../fonts/Lava-Bold.otf);
}

@font-face {
  font-family: 'Lava-Medium';
  src: url(../fonts/Lava-Medium.otf);
}

@font-face {
  font-family: 'Stem-Bold';
  src: url(../fonts/Stem-Bold.otf);
}

@font-face {
  font-family: 'Stem-Medium';
  src: url(../fonts/Stem-Medium.otf);
}
@font-face {
  font-family: 'Stem-Regular';
  src: url(../fonts/Stem-Regular.otf);
  font-weight: bold;
}

@font-face {
  font-family: 'Helios';
  src: url(../fonts/HeliosCondC.otf);
  font-weight: normal;
}


.page {

  display: block;

  height: 100vh;

  margin: 0;

  padding: 0;

  background: $white;

}


.page-top {

  height: 211px;

  background: $white;

  &.shrink {

    height: 60px;

  }


  @include breakpoint(smedium) {

    height: 228px;

  }


  @include breakpoint(medium) {

    height: 197px;

  }


  @include breakpoint(large) {

    height: 168px;

  }


  .page-top__in {

    max-width: 1366px;

    margin: 0 auto;

    position: relative;


    padding: 0 42px 0 66px;


    @include breakpoint(smedium) {

      padding: 0 64px 0 114px;

    }


    @include breakpoint(large) {

      padding: 0 102px 0 114px;

    }

  }


}


.page-body {

  position: relative;

  background: #0070ba; /* Old Browsers */
  background: -webkit-linear-gradient(left,#0070ba,#3eb5e9); /*Safari 5.1-6*/
  background: -o-linear-gradient(left,#0070ba,#3eb5e9); /*Opera 11.1-12*/
  background: -moz-linear-gradient(left,#0070ba,#3eb5e9); /*Fx 3.6-15*/
  background: linear-gradient(to right, #0070ba, #3eb5e9); /*Standard*/

  -webkit-box-shadow: inset 0px 3px 6px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0px 3px 6px 0px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 3px 6px 0px rgba(0, 0, 0, 0.3);

  .page-body__in {

    max-width: 1366px;

    margin: 0 auto;

    position: relative;


    padding: 0 42px 0 66px;


    @include breakpoint(smedium) {

      padding: 0 64px 0 114px;

    }


    @include breakpoint(large) {

      padding: 0 102px 0 114px;

    }



  }

}


.page-footer {

  min-height: 118px;

  background: $white;

  .page-footer__in {

    max-width: 1366px;

    margin: 0 auto;

    position: relative;

    padding: 0 42px 0 66px;


    @include breakpoint(smedium) {

      padding: 0 64px 0 114px;

    }


    @include breakpoint(large) {

      padding: 0 102px 0 114px;

    }

  }

}








article {

  display: block;

}

