@import "customMixins";

@font-face {
  font-family: 'Lava-Bold';
  src: url(../fonts/Lava-Bold.otf);
}

@font-face {
  font-family: 'Lava-Medium';
  src: url(../fonts/Lava-Medium.otf);
}

@font-face {
  font-family: 'Stem-Bold';
  src: url(../fonts/Stem-Bold.otf);
}

@font-face {
  font-family: 'Stem-Medium';
  src: url(../fonts/Stem-Medium.otf);
}
@font-face {
  font-family: 'Stem-Regular';
  src: url(../fonts/Stem-Regular.otf);
  font-weight: bold;
}

@font-face {
  font-family: 'Helios';
  src: url(../fonts/HeliosCondC.otf);
  font-weight: normal;
}


.page-wrapper {

  @include xy-grid-container($global-width, 0);

  height: 100vh;

  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow:    0 0 10px 0 rgba(0, 0, 0, 0.75);
  box-shadow:         0 0 10px 0 rgba(0, 0, 0, 0.75);

  background: $white;

}


.page-top {

  height: 205px;

  @include breakpoint(large) {

    height: 168px;

  }

  background: $white;

  padding: 40px 15px 0;

}


.page-header {

  @include xy-grid(horizontal, false);


  height: 60px;

  align-items: center;




  .header-date {

    @include xy-cell(3);

    @include xy-cell-offset(1);

    @include breakpoint(large) {

      @include xy-cell(3);

      @include xy-cell-offset(1);

    }



    @include flex-align-self('middle');


    font: bold 28px 'Lava-Bold', Arial;

    letter-spacing: 1px;


    .year {

      font-size: 32px;

    }


  }

  .header-place {

    @include xy-cell(4);

    @include breakpoint(large) {

      @include xy-cell(5);

    }



    @include flex-align-self('middle');


    font: normal 27px 'Lava-Medium', Arial;

    text-transform: uppercase;

    position: relative;

    letter-spacing: 1px;


    &:before {

      content: '';

      display: inline-block;

      width: 30px;

      height: 37px;

      margin-left: -11px;

      background: url('../img/anchor.svg') no-repeat 0 0;

      background-size: 28px;

      vertical-align: text-bottom;




    }

  }


  .header-partners {



    @include xy-cell(8);

    @include xy-cell-offset(0);


    @include breakpoint(large) {

      @include xy-cell(5);

      @include xy-cell-offset(3);

    }


    font: normal 10px 'Stem-Regular', Arial, serif;

    text-transform: uppercase;

    color: $black;

    position: relative;


    .header-partner {

      float: left;

      display: block;

      padding-top: 70px;

      width: 140px;

      background-position: 0 0;

      background-repeat: no-repeat;

      color: $black;

      background-size: contain;

      margin-left: 30px;


      &:hover {
        color: $dark-blue;
      }


      &.header-partner__type-organizer {

        background-position: 0 17px;

        background-image: url('../img/organizer.svg');

      }


      &.header-partner__type-partner {

        background-position: -18px -5px;

        background-image: url('../img/partner.svg');

      }

    }






  }

}


.page-nav {

  @include xy-grid(horizontal, false);

  @include xy-cell(15);

  @include xy-cell-offset(1);


  @include breakpoint(large) {

    @include xy-cell(10);

    @include xy-cell-offset(1);


    margin-top: 13px;

  }


  margin-top: 50px;




  .nav-link {

    font-family: 'Stem-Regular', Arial, serif;

    font-size: 14px;

    text-transform: uppercase;

    color: $black;

    margin: 0 20px 0 0;

    letter-spacing: .04em;


    &:last-child {

      margin: 0;

    }


    &.active {

      font-family: 'Stem-Bold', Arial, serif;


    }

  }

}


.page-body {

  position: relative;

  background: #01247d;
  background: -webkit-linear-gradient(bottom right,#01247d,#0157c6);
  background: -o-linear-gradient(bottom right,#01247d,#0157c6);
  background: -moz-linear-gradient(bottom right,#01247d,#0157c6);
  background: linear-gradient(to bottom right, #01247d, #0157c6);

  -webkit-box-shadow: inset 0px 3px 6px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow:    inset 0px 3px 6px 0px rgba(0, 0, 0, 0.3);
  box-shadow:         inset 0px 3px 6px 0px rgba(0, 0, 0, 0.3);


  &:before {

    content: '';

    display: block;

    position: absolute;

    width: 640px;

    height: 120px;

    background: url('../img/cfo.svg') no-repeat 0 0;

    top: 83px;

    left: 0;

  }


  &:after {


    content: '';

    display: block;

    position: absolute;

    background: url(../img/palace.svg) 0 0 no-repeat;

    bottom: 0;


    @include breakpoint(medium) {

      width: 60%;

      left: 40%;

      height: 100%;

      background-size: cover;

      opacity: 0.2;

    }


    @include  breakpoint(large) {

      width: 400px;

      height: 328px;

      left: 37%;

      opacity: 1;

    }






  }

  padding: 0 15px;


}

article {

  @include xy-grid(horizontal, false);



  &.index {

    @include xy-cell();

    @include xy-grid-collapse();


    @include flex-direction(column);

    @include breakpoint(large) {

      @include flex-direction(row)

    }


    min-height: 480px;


    .left-side {

      @include xy-cell(10);

      @include xy-cell-offset(1);

      @include breakpoint(large) {

        @include xy-cell(7);

        @include xy-cell-offset(1);

      }


      position: relative;

      min-height: inherit;


      .left-side__invite {

        width: 300px;

        position: absolute;

        top: 265px;

        font: normal 16px/21px 'Stem-Regular', Arial, serif;

        text-transform: uppercase;

        color: $white;


        .invite-link {

          display: block;

          width: 238px;

          height: 60px;

          background: url('../img/invite.svg') no-repeat 0 0;

          margin-top: 25px;


          &:hover {

            background: url('../img/invite-hover.svg') no-repeat 0 0;

          }


        }


      }

    }


    .right-side {

      @include xy-cell(10);


      @include breakpoint(large) {

        @include xy-cell(6);

        @include xy-cell-offset(2);

      }


      min-height: inherit;


      .info-block__list {

        display: block;

        position: relative;

        margin: 0;

        padding: 0;

        list-style: none;

        color: $white;

        width: 450px;

        top: -50px;


        @include  breakpoint(large) {

          top: 50px;

        }


        .info-block__item {
          
          @include flex();

          @include flex-direction(row);




          .info-block__date {

            width: 200px;

            margin-right: 30px;

            font: normal 99px 'Lava-Medium', Arial, serif;

            text-align: right;

            @include flex-align-self(middle);

          }


          .info-block__text {

            width: 220px;

            font: normal 13px/17px 'Stem-Regular', Arial, serif;

            text-transform: uppercase;

            @include flex-align-self(middle);

          }


        }



      }



    }


  }


}

.page-footer {

  @include xy-grid(horizontal, false);

  height: 118px;

  align-items: center;

  background: $white;




  .footer-lang {

    @include xy-cell(3);

    @include xy-cell-offset(1);

    @include breakpoint(large) {

      @include xy-cell(2);

      @include xy-cell-offset(1);

    }


    display: block;

    width: 90px;

    height: 13px;

    background: url('../img/lang.png') no-repeat 0 0;

  }


  .footer-copyright {

    @include xy-cell(6);


    font: normal 12px 'Stem-Regular', Arial, serif;

    color: $dark-blue;

  }


  .footer-videolink {

    @include xy-cell(6);

    @include xy-cell-offset(1);


    @include breakpoint(large) {

      @include xy-cell(4);

      @include xy-cell-offset(3);

    }


    font: normal 25px 'Lava-Bold', Arial, serif;

    color: #013aa2;


    &:before {

      content: '';

      display: inline-block;

      background: url('../img/play.svg') no-repeat 0 0;

      width: 32px;

      height: 32px;

      vertical-align: text-top;

    }

  }



}