.article-footer {

  color: $white;


  .article-footer__in {

    display: flex;

    min-height: 150px;

    align-items: center;


    max-width: 1366px;

    margin: 0 auto;

    position: relative;

    padding: 0 42px 0 66px;


    @include breakpoint(smedium) {

      padding: 0 64px 0 114px;

    }


    @include breakpoint(large) {

      padding: 0 102px 0 114px;

    }



    @include breakpoint(medium) {

      min-height: 130px;

    }


    .copyright {

      font: normal 12px 'Stem-Regular', Arial, serif;

      max-width: 80%;


      @include breakpoint(smedium) {

        max-width: 35%;

      }


      @include breakpoint(large) {

        max-width: 50%;

      }


      .copy {

        vertical-align: text-top;

      }

      .nobr {

        vertical-align: sub;
        white-space: nowrap;

      }


    }






  }

}




