.photo-strip {


  .photo-strip__title {

    height: 86px;

    font: normal 12px/16px 'Stem-Regular';

    line-height: normal;

    align-self: center;

    text-transform: uppercase;

    color: $dark-blue;

    padding: 52px 0 20px;




    @include breakpoint(large) {

      padding: 30px 0 20px;

      height: 64px;

    }



  }


  .photo-strip__wrapper {

    overflow-x: scroll;

    overflow-y: hidden;


    @include breakpoint(smedium) {

      overflow: auto;

    }


    .photo-strip__list {

      display: block;

      overflow: hidden;

      margin: 0;

      width: 1147px;

      @include breakpoint(smedium) {

        width: auto;

      }


      .photo-strip__item {

        width: 195px;

        height: 127px;

        list-style: none;

        display: block;

        float: left;

        margin-right: 43px;

        @include breakpoint(smedium) {

          margin-bottom: 43px;

        }


        &:last-child {

          margin-right: 0;

        }



        img {

          width: inherit;

          height: inherit;

        }


      }



    }







  }

}

.footer-content {

  display: flex;

  align-items: center;

  flex-flow: row-reverse;

  flex-wrap: wrap-reverse;


  @include breakpoint(large) {

    flex-flow: row;

    flex-wrap: nowrap;

  }


  .footer-copyright {

    width: 100%;

    padding-bottom: 30px;

    font: normal 12px 'Stem-Regular', Arial, serif;

    color: #013aa2;

    text-transform: uppercase;

    letter-spacing: 0.1px;

    flex-grow: 1;

    @include breakpoint(large) {

      width: 50%;

      padding-bottom: 0;

    }

    .copy {

      vertical-align: text-top;

    }

    nobr {

      vertical-align: sub;

    }




  }


  .footer-videolink {

    width: 100%;

    margin-top: 75px;

    letter-spacing: 1px;

    font: normal 25px 'Lava-Bold', Arial, serif;

    color: #013aa2;

    @include breakpoint(smedium) {

      margin-top: 51px;

    }


    @include breakpoint(large) {

      width: 289px;

      flex-shrink: 0;

      margin-top: 0;

    }


    &:before {

      content: '';

      display: inline-block;

      background: url('../img/play.svg') no-repeat 0 0;

      width: 34px;

      height: 34px;

      vertical-align: text-top;

    }

  }


  .footer-partners {

    margin-top: 63px;

    margin-bottom: 41px;

    display: block;

    width: 100%;


    @include breakpoint(smedium) {

      margin-top: 56px;

      margin-bottom: 56px;

    }


    @include breakpoint(large) {

      display: none;

    }


    font: normal 10px 'Stem-Regular', Arial, serif;

    text-transform: uppercase;

    color: $black;

    position: relative;


    .footer-partner {

      display: inline-block;

      padding-top: 75px;

      width: 144px;

      background-position: 0 0;

      background-repeat: no-repeat;

      color: $black;

      background-size: contain;

      letter-spacing: 0.6px;


      &:hover {
        color: $dark-blue;
      }


      &.footer-partner__type-organizer {

        background: url('../img/organizer.svg') no-repeat 0px 17px;

        margin-right: 40px;

      }


      &.footer-partner__type-partner {

        background: url('../img/partner.svg') no-repeat -18px -5px;

        margin-top: 20px;

        @include breakpoint(smedium) {

          margin-top: 0;

        }


      }

    }


  }


}