.page-header {

  align-items: center;

  position: relative;

  padding: 72px 0 0 0;

  display: flex;

  font: normal 28px 'Lava-Medium', Arial;

  height: 130px;

  flex-wrap: wrap;


  @include breakpoint(smedium) {

    padding: 28px 0 0 0;

  }

  @include breakpoint(medium) {

    height: 111px;

    flex-wrap: nowrap;

  }


  .header-date {

    .shrink & {

      display: none;

    }

    font-family: 'Lava-Bold', Arial, serif;

    letter-spacing: 1px;

    margin-right: 56px;

    width: 100%;


    .year {

      font-size: 32px;

    }


    @include breakpoint(medium) {

      width: auto;

    }


  }


  .header-place {

    .shrink & {

      display: none;

    }

    padding-top: 18px;


    text-transform: uppercase;

    width: 100%;

    font-size: 27px;


    @include breakpoint(smedium) {

      padding-top: 0;

    }


    @include breakpoint(medium) {

      width: auto;

    }


    &:before {

      content: '';

      display: inline-block;

      width: 30px;

      height: 37px;



      background: url('../img/anchor.svg') no-repeat 0 0;

      background-size: 28px;

      vertical-align: text-bottom;

      margin-left: -9px;




    }

  }


  .header-partners {



    display: none;


    @include breakpoint(large) {

      display: block;

      position: absolute;

      right: -36px;

      top: 39px;

    }


    font: normal 10px 'Stem-Regular', Arial, serif;

    text-transform: uppercase;

    color: $black;


    .header-partner {

      display: inline-block;

      padding-top: 75px;

      width: 144px;

      background-position: 0 0;

      background-repeat: no-repeat;

      color: $black;

      background-size: contain;

      letter-spacing: 0.6px;


      &:hover {
        color: $dark-blue;
      }


      &.header-partner__type-organizer {

        background: url('../img/organizer.svg') no-repeat 0px 17px;

        margin-right: 40px;

      }


      &.header-partner__type-partner {

        background: url('../img/partner.svg') no-repeat -18px -5px;

      }

    }






  }

}


.page-nav {

  display: none;

  line-height: 20px;

  margin-top: 12px;


  @include breakpoint(smedium) {

    display: block;

    max-width: 470px;

  }

  @include breakpoint(medium) {

    margin-top: 0;

  }

  @include breakpoint(large) {

    display: block;

    max-width: 100%;

  }


  .nav-link {

    font: normal 14px/14px 'Stem-Regular', Arial, serif;

    text-transform: uppercase;

    color: $black;

    margin: 0 17px 0 0;

    white-space: nowrap;

    line-height: 25px;


    &:last-child {

      margin: 0;

    }


    &.active {

      font-family: 'Stem-Bold', Arial, serif;


    }

  }

}