.lang-toggler {



  width: 90px;

  height: 13px;

  cursor: pointer;

  &.lang-toggler__type-rus-eng {

    background: url('../img/lang_rus-eng_blue.svg') no-repeat 0 0;

  }

  &.lang-toggler__type-eng-rus {

    background: url('../img/lang_eng-rus_blue.svg') no-repeat 0 0;

  }


  &.lang-toggler__type-rus-eng.lang-toggler__type-inverse {

    background: url('../img/lang_rus-eng_white.svg') no-repeat 0 0;

  }

  &.lang-toggler__type-eng-rus.lang-toggler__type-inverse {

    background: url('../img/lang_eng-rus_white.svg') no-repeat 0 0;

  }




  .page-top & {

    display: block;

    position: absolute;

    top: 55px;

    right: 30px;


    @include breakpoint(medium) {

      top: 65px;

    }


    @include breakpoint(large) {

      display: none;

    }


  }


  .page-footer &,
  .article-footer & {

    display: none;

    @include breakpoint(large) {

      display: block;

      @include xy-cell(2, true, 0);

    }

  }


}


