.cfo-title {

  display: block;

  position: relative;

  height: 300px;


  .page__type-index & {

    height: 152px;

  }


  @include breakpoint(smedium) {

    .page__type-index & {

      height: 250px;

    }

    height: 390px;

  }

  @include breakpoint(medium) {

    height: 290px;

  }


  @include breakpoint(large) {

    min-height: 290px;

  }





}


.cfo-title__in {

  display: block;

  position: absolute;

  width: 380px;

  height: 70px;

  top: 42px;

  margin-left: -66px;

  padding-left: 66px;

  @include breakpoint(smedium) {

    width: 660px;

    height: 120px;

    margin-left: -109px;

    padding-left: 109px;

    top: 81px;

  }



  .page-title {

    .page__type-index & {

      display: none;

    }

    display: inline-block;

    position: absolute;

    left: 77px;

    bottom: -136px;

    max-width: 330px;


    @include breakpoint(smedium) {

      bottom: -115px;

      max-width: 500px;

      left: 124px;

    }


    @include breakpoint(medium) {

      left: 100%;

      margin: -3px 0 0 27px;

      bottom: auto;


    }


    @include breakpoint(large) {

      max-width: 500px;

      width: 500px;

    }



    span {

      font: normal 37px 'Stem-Bold';

      color: $primary-color;

      background: white;

      text-transform: uppercase;

      padding: 5px 0 0;

      line-height: 50px;

      letter-spacing: 0;

      box-shadow: 10px 0 0px 0px $white, -10px 0 0px 0px $white;

    }


  }

  .page__lang-rus & {

    background: url('../img/cfo_rus.svg') no-repeat 0 0;

  }

  .page__lang-eng & {

    background: url('../img/cfo_eng.svg') no-repeat 0 0;

  }

}