.cfo-title {

  display: block;

  position: relative;


  min-height: 300px;


  @include breakpoint(smedium) {

    min-height: 390px;

  }


  @include breakpoint(large) {

    min-height: 290px;

  }





}


.cfo-title__in {

  display: block;

  position: absolute;

  width: 100%;

  max-width: 640px;

  height: 120px;

  top: 84px;

  left: 0;

  margin-left: -15px;

  @include breakpoint(large) {

    margin-left: 0;

  }

  .page-title {

    .page__type-index & {

      display: none;

    }

    display: inline-block;

    position: absolute;

    left: calc(#{xy-cell-size(1)} + #{rem-calc($-zf-bp-value) / 2});

    bottom: -75px;

    max-width: 330px;


    @include breakpoint(smedium) {

      bottom: -112px;

      max-width: 500px;

    }


    @include breakpoint(medium) {

      left: 100%;

      margin: 0 0 0 50px;

      bottom: auto;


    }


    @include breakpoint(large) {

      max-width: 500px;

      width: 500px;

    }



    span {

      font: normal 38px 'Stem-Bold';

      color: #013aa2;

      background: white;

      text-transform: uppercase;

      padding: 5px 0 0;

      line-height: 50px;

      letter-spacing: 3px;

      box-shadow: 10px 0 0px 0px $white, -10px 0 0px 0px $white;

    }


  }

  .page__lang-rus & {

    background: url('../img/cfo_rus.svg') no-repeat 0 0;

  }

  .page__lang-eng & {

    background: url('../img/cfo_eng.svg') no-repeat 0 0;

  }

}