<div class="partners__wrapper">

    <p class="partners-title">Партнеры круглых столов</p>

    <ul class="partners-list">
        <li class="partner partner__type-deloitte">
            <img src="/assets/img/deloitte.svg" />
        </li>
        <li class="partner partner__type-kpmg">
            <img src="/assets/img/kpmg.svg" />
        </li>
        <li class="partner partner__type-pwc partner__type-h">
            <img src="/assets/img/pwc_h.svg" />
        </li>
        <li class="partner partner__type-pwc partner__type-v">
            <img src="/assets/img/pwc_v.svg" />
        </li>
        <li class="partner partner__type-ey">
            <img src="/assets/img/ey.svg" />
        </li>
        <li class="partner partner__type-acca">
            <img src="/assets/img/acca.svg" />
        </li>

    </ul>

</div>