<button class="menu-icon dark" type="button" data-toggle="offcanvas-full-screen"></button>

<header class="page-header">

    <div class="header-date">
        {{header.date}} <span class="year">2018</span>
    </div>

    <div class="header-place">
        {{header.place}}
    </div>

    <div class="header-partners">
        <a class="header-partner header-partner__type-organizer" href="/">
            <img class="partner-ico" src="/assets/img/{{common.organizerIco}}" />
            <span class="partner-title">{{common.organizer}}</span>
        </a>
        <a class="header-partner header-partner__type-partner" href="/">
            <img class="partner-ico" src="/assets/img/{{common.partnerIco}}" />
            <span class="partner-title">{{common.partner}}</span>
        </a>
    </div>

</header>

<nav class="page-nav">

    {{#each pages}}

        <a class="nav-link {{#ifpage this.type}}active{{/ifpage}}"
           href="{{this.type}}.html">
            {{this.title}}
        </a>

    {{/each}}

</nav>

<a class="lang-toggler lang-toggler__type-{{common.switch}}" href="{{common.switchto}}{{page}}.html"></a>