<button class="offcanvas-full-screen-close" aria-label="Close menu" type="button" data-close>
    <span aria-hidden="true">&times;</span>
</button>

<ul class="offcanvas-full-screen-menu">
    <li>
        <a class="menu-link active" href="index.html">О конференции</a>
    </li>
    <li>
        <a class="menu-link" href="program.html">Программа</a>
    </li>
    <li>
        <a class="menu-link" href="speakers.html">Спикеры</a>
    </li>
    <li>
        <a class="menu-link" href="partners.html">Партнеры</a>
    </li>
    <li>
        <a class="menu-link" href="place.html">Место проведения</a>
    </li>
    <li>
        <a class="menu-link" href="contacts.html">Контакты</a>
    </li>
</ul>